.humanLogo {
    min-width: 50px;
    min-height: 50px;
    margin-left: 12px;
    border-radius: 50%;

    background-size: cover;
}

.lineLogo {
    z-index: -2;
}

#starWarsLogo {
    width: 120px;
    height: 60px;
    background-size: contain;
}

#closeIcon{
    position: absolute;
    top: 30px;
    right: 30px;
}

#pauseSign{
    z-index: 3;
}

.cast-actor{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-size: cover;
}

.increase{
    transition: transform 3s ease-out;
    min-width: 60px;
    height: 60px;
    /*transform: scale(1.3);*/
}